body{
  background: linear-gradient(to right, #25c481, #25b7c4);
}
table {
  display: flex;
  justify-content: center;
}

table.diamondsweeper-board {
  td {
    padding: 0;
    border: 1px solid black;
    box-shadow: 2px 2px #000;
    background-color: #0B9354;
  }
  td:hover {
    cursor: pointer;
    background-color: #b8e994;
  }
}

.cell {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;

  &.diamond {
    background-image: url(diamond.png);
  }

  &.arrow {
    background-image: url(arrow.png);
  }

  &.unknown {
    background-image: url(question.png);
  }
}
